test/projects/OverML/trunk/src/slow/schema/nala.rnc

nala_types =
   element nala:types { anyOtherElement* }

nala_attributes =
   element nala:attributes {
      nala_attribute*
   }

nala_attribute =
   element nala:attribute {
      attribute name      { identifier_string },
      attribute type_name { type_string },
      attribute selected  { xsd:boolean }?,
      (  element nala:static       { empty }?
       & element nala:transferable { empty }?
       & element nala:identifier   { empty }?
      )
   }*
